@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    font-family: Anonymous Pro;
    color: #d1d1d1;
    background: #1d1d20;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    position: fixed;
    left: 45px;
    top: 45px;
}

#nav {
    position: fixed;
    top: 0;
    right: 5px;
    padding: 20px;
}

#nav a {
    text-decoration: none;
}


.hover:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 5px #6D6D70, 0 0 8px #6D6D70, 0 0 16px #6D6D70;
}

#apresentacao {
    width: 510px;
    height: 160px;
    padding-left: 10px;
}

.cardApresentacao {
    display: flex;
}

#botao {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 10px;
}

button {
    background-color: #1d1d20;
    color: #b1b1b1;
    text-transform: uppercase;
    transition: 0.5s;
    border: none;
    border-radius: 3px;
    width: 70px;
    height: 25px;
}

button:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #000;

}

button.active {
    border: 1px solid #b1b1b1 !important;
}

.linhaApresentacao {
    height: 160px;
    width: 3px;
    background: linear-gradient(0deg, #487B6C, #8b008b, #487B6C);
    border-radius: 10px;
}

#apresentacao p {
    font-size: 13.5px;
}


#titulo {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

#titulo::after {
    content: '|';
    margin-left: 3px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#projetos {
    flex-direction: column;
    justify-content: center;
}

.linha {
    background: linear-gradient(90deg, #487B6C, #8b008b, #487B6C);
    margin-top: 2px;
    border-radius: 10px;
    height: 2px;
    width: 180px;
}

#projetos h2 {
    margin-top: 7px;
    margin-left: 2px;
    margin-bottom: 5px;
}

#projetos p {
    margin-top: 5px;
    margin-left: 2px;
}

.projeto {
    width: 510px;
    height: 200;
    margin-bottom: 20px;
    margin-left: 20px;
}

.projeto p {
    font-size: 13.5px;
}

.projeto a {
    position: relative;
    text-decoration: none;
    color: #d1d1d1;
    font-family: Anonymous Pro;
}

.projeto h2:hover {
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
}

@supports not (-moz-appearance: none) {
    .projeto h2::after {
        content: "";
        width: 0px;
        height: 2px;
        background-color: #d1d1d1;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: 0.5s ease-in-out;
    }

    .projeto1:hover::after {
        width: 155px;
    }

    .projeto2:hover::after {
        width: 268px;
    }
}

.logo a {
    text-decoration: none;
}

.cantoDireito {
    position: fixed;
    bottom: 0;
    right: 0;
}

.cantoEsquerdo {
    position: fixed;
    top: 0;
    left: 0;
}

/*RESPONSIVIDADE*/
@media screen and (max-width: 1100px) {
    #main {
        flex-direction: column;
    }

    .logo img {
        width: 55px;
        height: 55px;
    }

    #nav img {
        width: 35px;
        height: 35px;
    }

    #git {
        border-radius: 50px !important;
    }

    .cardApresentacao {
        position: relative;
        top: -50px;
    }

    #apresentacao {
        width: 750px;
        height: 160px;
        padding-left: 10px;
    }

    #apresentacao p {
        font-size: 17px;
    }

    #projetos {
        position: relative;
        top: -10px;
        left: 70px;
    }

    .projeto {
        width: 760px;
        height: 200;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    #projetos h2 {
        margin-top: 9px;
        font-size: 24px;
    }

    #projetos p {
        font-size: 17px;
    }

    button {
        width: 90px;
        height: 35px;
        font-size: 17px;
    }

    button.active {
        border: 2px solid #b1b1b1 !important;
    }
}

@media screen and (max-width: 800px) {
    #main {
        flex-direction: column;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }

    #nav img {
        width: 35px;
        height: 35px;
    }

    #git {
        border-radius: 20px !important;
    }

    .cardApresentacao {
        position: relative;
        top: -100px;
        left: 40px;
    }

    #apresentacao {
        width: 600px;
        height: 160px;
        padding-left: 10px;
    }

    #apresentacao p {
        font-size: 17px;
    }

    #projetos {
        position: relative;
        top: -10px;
        left: 70px;
    }

    .projeto {
        width: 760px;
        height: 200;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    #projetos h2 {
        margin-top: 9px;
        font-size: 24px;
    }

    #projetos p {
        font-size: 17px;
    }

    button {
        width: 90px;
        height: 35px;
        font-size: 17px;
    }

    button.active {
        border: 2px solid #b1b1b1 !important;
    }
}

@media screen and (max-width: 800px) {
    .logo img {
        width: 50px;
        height: 50px;
    }

    #nav img {
        width: 35px;
        height: 35px;
    }

    #git {
        border-radius: 20px !important;
    }

    .cardApresentacao {
        position: relative;
        top: -100px;
        left: 40px;
    }

    #apresentacao {
        width: 600px;
        height: 160px;
        padding-left: 10px;
    }

    #projetos {
        left: 50px;
    }
}

@media screen and (max-width: 500px) {
    svg {
        width: 0px;
        height: 0px;
    }

    .logo img {
        width: 50px;
        height: 50px;
        position: fixed;
        top: 10px;
        left: 10px;
    }

    #nav {
        top: 0;
        padding: 10px;
    }

    #nav img {
        width: 40px;
        height: 40px;
        margin-left: 4px;
    }

    .cardApresentacao {
        width: 385px;
        height: 210px;

        position: absolute;
        left: 0;
        top: -160px;
    }

    #apresentacao {
        width: 385;
        height: 210px;
    }

    .linhaApresentacao {
        height: 210px;
        width: 3px;
        background: linear-gradient(0deg, #487B6C, #8b008b, #487B6C);
        border-radius: 10px;
    }

    #titulo {
        font-size: 45px;
        font-family: 'Courier New', Courier, monospace;
    }

    #apresentacao p {
        margin-top: 15px;
        font-size: 14px;
    }

    #projetos {
        width: 385px;
        height: 400;
        top: 100px;
        left: 0;
    }

    .projeto {
        width: 376px;
        height: 200;
    }

    #projetos h2 {
        font-size: 23px;
    }
    
    #projetos p {
        font-size: 14px;
    }

    #botao {
        bottom: 10px;
        margin: 10px;
    }
    
    
}